#admin-settings-con{
    width: calc(100% - 80px);
    height: 100%;
    transform: translate(80px, 0);
    overflow: hidden;

    .top-con{
        width: 100%;
        height: 70px;
        .title-con{
            width: 100%;
            height: 100%;
            text-align: center;
            span{
                font-size: 40px;
                font-weight: 900;
                line-height: 70px;
            }
        }
    }

    .settings-con{
        width: 100%;
        height: calc(100% - 90px);
        padding: 2% 100px;
        display: flex;

        .left-con{
            width: 50%;
            height: 100%;

            .logo-con{
                width: 100%;
                height: 250px;
                margin-bottom: 20px;
    
                form{
                    p{
                        font-size: 20px;
                        font-weight: 900;
                    }
                    img{
                        height: 150px;
                    }
                    span{
                        margin-top: 15px;
                        width: 100%;
                        display: block;
    
                        input{
                            display: inline;
                        }
    
                        input[type = file]{
                            width: 400px;
                        }
                        input[type = submit]{
                            width: 100px;
                            font-weight: 900;
                            margin-left: 20px;
                        }
                    }
                }
            }
    
            .set-con{
                width: 100%;
                height: 80px;
                margin-bottom: 10px;
    
                form{
                    p{
                        font-size: 20px;
                        font-weight: 900;
                        margin: 0;
                    }
                    span{
                        width: 100%;
                        display: block;
    
                        input{
                            display: inline;
                        }
    
                        input[type = text]{
                            width: 400px;
                        }
                        input[type = submit]{
                            width: 100px;
                            font-weight: 900;
                            margin-left: 20px;
                        }
                    }
                }
            }
        }

        .right-con{
            width: 50%;
            height: 100%;
            padding-top: 200px;
            

            .theme-con{
                width: 100%;
                margin-bottom: 30px;

                form{

                    p{
                        font-size: 20px;
                        font-weight: 900;
                        margin-bottom: 10px;
                    }

                    span{
                        width: 100%;
                        display: block;
    
                        input[type = radio]{
                            height: 18px;
                            width: 18px;
                            margin-bottom: 20px;
                        }
                        label{
                            font-weight: 900;
                            font-size: 18px;
                            margin-right: 20px;
                        }
                    }
                    input[type = submit]{
                        width: 200px;
                        height: 50px;
                        font-weight: 900;
                    }
                }
            }

            .msg-con{
                width: 100%;
                margin-bottom: 30px;

                form{

                    p{
                        font-size: 20px;
                        font-weight: 900;
                        margin-bottom: 10px;
                    }

                    span{
                        width: 100%;
                        display: block;
    
                        input[type = text]{
                            margin-bottom: 10px;
                        }
                        input[type = submit]{
                            width: 200px;
                            height: 50px;
                            font-weight: 900;
                        }
                    }
                }
            }

            .backup-con{
                width: 100%;

                p{
                    font-size: 20px;
                    font-weight: 900;
                    margin-bottom: 10px;
                }
                .button-con{
                    button{
                        width: 200px;
                        height: 50px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1441px) and (max-width: 1600px){
    // #admin-settings-con{
    
    //     .settings-con{
    //         width: 100%;
    //         height: calc(100% - 90px);
    //         padding: 2% 100px;
    //         display: flex;
    
    //         .left-con{
    //             width: 100%;
    //             height: 100%;
    
    //             .logo-con{
    //                 width: 100%;
    //                 height: 250px;
    //                 margin-bottom: 20px;
        
    //                 form{
    //                     p{
    //                         font-size: 20px;
    //                         font-weight: 900;
    //                     }
    //                     img{
    //                         height: 150px;
    //                     }
    //                     span{
    //                         margin-top: 15px;
    //                         width: 100%;
    //                         display: block;
        
    //                         input{
    //                             display: inline;
    //                         }
        
    //                         input[type = file]{
    //                             width: 400px;
    //                         }
    //                         input[type = submit]{
    //                             width: 100px;
    //                             font-weight: 900;
    //                             margin-left: 20px;
    //                         }
    //                     }
    //                 }
    //             }
        
    //             .set-con{
    //                 width: 100%;
    //                 height: 100px;
    //                 margin-bottom: 10px;
        
    //                 form{
    //                     p{
    //                         font-size: 20px;
    //                         font-weight: 900;
    //                     }
    //                     span{
    //                         margin-top: 15px;
    //                         width: 100%;
    //                         display: block;
        
    //                         input{
    //                             display: inline;
    //                         }
        
    //                         input[type = text]{
    //                             width: 400px;
    //                         }
    //                         input[type = submit]{
    //                             width: 100px;
    //                             font-weight: 900;
    //                             margin-left: 20px;
    //                         }
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
}

@media only screen and (min-width: 1337px) and (max-width: 1440px){

}

@media only screen and (min-width: 1281px) and (max-width: 1366px){

}

@media only screen and (min-width: 1024px) and (max-width: 1280px){

}