#login-body{
    .login-container{
        width: 100vw;
        height: 100vh;
        position: relative;

        .logo-name-con{
            position: absolute;
            left: 25%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            .pic-con{
                width: 500px;
                height: 500px;

                img{
                    height: 480px;
                }
            }

            .name-con{
                p{
                    font-size: 50px;
                    font-weight: 900;
                    letter-spacing: 1px;
                }
            }
        }

        .login-inner-container{
            position: absolute;
            left: 75%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 350px;
            height: 380px;
            border-radius: 25px;
            border: 2px solid rgb(59, 59, 59);
            box-shadow: 2px 2px 5px rgba(0,0,0,0.54);
        }
    }
}