* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login-body .login-container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#login-body .login-container .login-inner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 350px;
  height: 380px;
  border-radius: 25px;
  border: 2px solid #3b3b3b;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.54);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.54);
}

#nchome-body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#nchome-body .swal-modal {
  width: 600px;
}

#nchome-body .swal-modal .swal-title {
  font-size: 45px;
}

#nchome-body .swal-modal .swal-content .swal-content__input {
  font-size: 25px;
}

#nchome-body .swal-modal .swal-text {
  text-align: center;
  font-size: 30px;
}

#nchome-body .nchome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

#nchome-body .nchome-container .left-con {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#495057), to(#212529));
  background-image: linear-gradient(#495057, #212529);
  width: 50%;
  height: 100%;
}

#nchome-body .nchome-container .left-con .left-top-con {
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nchome-body .nchome-container .left-con .left-top-con .logo-con {
  width: 50%;
  height: 100%;
  position: relative;
}

#nchome-body .nchome-container .left-con .left-top-con .logo-con .the-logo {
  height: 70px;
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(20px, -50%);
          transform: translate(20px, -50%);
}

#nchome-body .nchome-container .left-con .left-top-con .logo-con .the-logo img {
  height: 70px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#nchome-body .nchome-container .left-con .left-top-con .logo-con .the-logo h1 {
  display: inline;
  vertical-align: middle;
  margin-left: 20px;
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#nchome-body .nchome-container .left-con .left-top-con .search-con {
  width: 50%;
  height: 100%;
  position: relative;
}

#nchome-body .nchome-container .left-con .left-top-con .search-con input {
  width: 80%;
  position: absolute;
  right: 10%;
  top: 60%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 20px;
  padding-left: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#nchome-body .nchome-container .left-con .left-mid-con {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(90% - 180px);
  z-index: 1;
  overflow: hidden;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con {
  height: 101%;
  width: 120px;
  background-color: #fff;
  -webkit-transform: translate(0, 1%);
          transform: translate(0, 1%);
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .top-title {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: center;
  border-top-right-radius: 20px;
  -webkit-box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.8);
          box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .top-title span {
  font-size: 16px;
  font-weight: 900;
  line-height: 40px;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .nav-content {
  width: 100%;
  height: 640px;
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .nav-content::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .nav-content .btn-nav-con {
  width: 100%;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .nav-content .btn-nav-con .nav-link {
  width: 100%;
  height: 80px;
  position: relative;
  overflow: hidden;
  color: #212529;
  font-weight: 900;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .nav-content .btn-nav-con .active {
  background-color: #f5f5f5;
  color: #212529;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .nav-content .btn-nav-con .active::before {
  content: '';
  position: absolute;
  top: 43%;
  right: -6%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 13px;
  height: 13px;
  background-color: #dc3545;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .down-arrow {
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 2;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .down-arrow .btnArrow {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border: none;
}

#nchome-body .nchome-container .left-con .left-mid-con .left-nav-con .down-arrow .btnArrow svg {
  -webkit-animation: arrowDown 1.5s infinite;
          animation: arrowDown 1.5s infinite;
}

@-webkit-keyframes arrowDown {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes arrowDown {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con {
  width: calc(100% - 160px);
  height: calc(99% - 20px);
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  -webkit-transform: translate(20px, 1%);
          transform: translate(20px, 1%);
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content {
  width: 100%;
  height: 100%;
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content .tab-pane {
  width: 100%;
  height: 100%;
  position: relative;
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content .tab-pane .con-con {
  width: 98%;
  height: 98%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 20px;
  border: 1px solid black;
  overflow: auto;
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content .tab-pane .con-con .item-con {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content .tab-pane .con-con .item-con .con-item {
  width: calc(20% - 20px);
  height: calc(25% - 40px);
  text-align: center;
  text-decoration: none;
  margin: 20px 10px;
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content .tab-pane .con-con .item-con .con-item img {
  height: 80px;
  margin-bottom: 10px;
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content .tab-pane .con-con .item-con .con-item p {
  color: #000;
  font-size: 13px;
}

#nchome-body .nchome-container .left-con .left-mid-con .content-con .tab-content .tab-pane .con-con::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#nchome-body .nchome-container .left-con .left-bot-con {
  position: relative;
  width: 101%;
  height: 180px;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

#nchome-body .nchome-container .left-con .left-bot-con .bot-btn-con {
  width: 100%;
  height: 100%;
}

#nchome-body .nchome-container .left-con .left-bot-con .bot-btn-con .btn-con {
  width: 98%;
  height: 98%;
  padding: 0 calc(10% - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#nchome-body .nchome-container .left-con .left-bot-con .bot-btn-con .btn-con button {
  width: calc(20% - 30px);
  height: calc(50% - 15px);
  margin: 10px 15px 0 15px;
  padding: 0;
}

#nchome-body .nchome-container .left-con .left-bot-con .bot-btn-con .btn-con button svg {
  height: 30px;
  fill: #fff;
  margin: 10px 0 5px 0;
}

#nchome-body .nchome-container .left-con .left-bot-con .bot-btn-con .btn-con button svg g {
  fill: #fff;
}

#nchome-body .nchome-container .left-con .left-bot-con .bot-btn-con .btn-con button p {
  font-weight: 900;
}

#nchome-body .nchome-container .left-con .left-bot-con .bot-btn-con .btn-con button .skey {
  font-size: 30px;
  margin: 0;
}

#nchome-body .nchome-container .right-con {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  z-index: 3;
}

#nchome-body .nchome-container .right-con .right-top-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10%;
}

#nchome-body .nchome-container .right-con .right-top-con .item-code-con {
  width: 50%;
  height: 100%;
}

#nchome-body .nchome-container .right-con .right-top-con .item-code-con label {
  font-size: 25px;
  line-height: 12vh;
}

#nchome-body .nchome-container .right-con .right-top-con .item-code-con #inputItemCode {
  display: inline;
  width: 50%;
  font-size: 20px;
}

#nchome-body .nchome-container .right-con .right-top-con .item-code-con #codeSubmit, #nchome-body .nchome-container .right-con .right-top-con .item-code-con #addQty, #nchome-body .nchome-container .right-con .right-top-con .item-code-con #minusQty {
  opacity: 0;
}

#nchome-body .nchome-container .right-con .right-top-con .end-buyer-con {
  width: 50%;
  height: 100%;
}

#nchome-body .nchome-container .right-con .right-top-con .end-buyer-con h1 {
  line-height: 10vh;
  float: right;
  margin-right: 3rem;
  font-weight: 900;
}

#nchome-body .nchome-container .right-con .right-bottom-con {
  width: 100%;
  height: 90%;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table {
  width: 100%;
  height: calc(100% - 231px);
  padding: 15px 30px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table {
  width: 100%;
  height: calc(100% - 30px);
  max-height: calc(100% - 30px);
  table-layout: fixed;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead {
  display: table;
  width: 100%;
  table-layout: fixed;
  font-size: 24px;
  background-color: #0d6efd;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead tr {
  width: 100%;
  text-align: center;
  color: #fff;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead tr th {
  padding: 5px 0;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead tr th:nth-child(1) {
  width: 45%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead tr th:nth-child(2) {
  width: 15%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead tr th:nth-child(3) {
  width: 10%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead tr th:nth-child(4) {
  width: 15%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table thead tr th:nth-child(5) {
  width: 15%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody {
  font-size: 20px;
  width: 100%;
  height: calc(100% - 10px);
  max-height: calc(100% - 10px);
  display: block;
  overflow: auto;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-bottom: 1px solid black;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody tr td {
  padding: 5px 0;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody tr td:nth-child(1) {
  width: 45%;
  white-space: nowrap;
  overflow: hidden;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody tr td:nth-child(2) {
  width: 15%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody tr td:nth-child(3) {
  width: 10%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody tr td:nth-child(4) {
  width: 15%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .scanned-item-table table tbody tr td:nth-child(5) {
  width: 15%;
  text-align: center;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con {
  width: 100%;
  height: 160px;
  border-top: 1px solid black;
  background-color: #4dd4ac;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .row1 .col1 {
  width: 50%;
  padding: 0 30px;
  border-right: 1px solid black;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .row1 .col1 span {
  line-height: 50px;
  font-size: 25px;
  font-weight: 900;
  color: #000;
  letter-spacing: 1px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .row1 .col1 span:nth-child(2) {
  float: right;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .row1 .col2 {
  width: 50%;
  padding: 0 30px;
  font-weight: 900;
  color: #000;
  letter-spacing: 1px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .row1 .col2 span {
  line-height: 50px;
  font-size: 25px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .row1 .col2 span:nth-child(2) {
  float: right;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .srow {
  width: 100%;
  height: 50px;
  padding: 0 30px;
  border-bottom: 1px solid black;
  font-weight: 900;
  color: #000;
  letter-spacing: 1px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .srow span {
  line-height: 50px;
  font-size: 25px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .srow span:nth-child(2) {
  float: right;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .srow:nth-child(3) {
  height: 60px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .total-con .srow:nth-child(3) span {
  line-height: 60px;
  font-size: 40px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .button-con {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nchome-body .nchome-container .right-con .right-bottom-con .button-con .payment-con {
  width: 50%;
  height: 50px;
  padding: 10px 50px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .button-con .payment-con button {
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: 900;
}

#nchome-body .nchome-container .right-con .right-bottom-con .button-con .cancel-con {
  width: 50%;
  height: 50px;
  padding: 10px 50px;
}

#nchome-body .nchome-container .right-con .right-bottom-con .button-con .cancel-con button {
  height: 50px;
  width: 100%;
  font-size: 25px;
  font-weight: 900;
}

.inv-con {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4fb;
  overflow: hidden;
}

.inv-con .top-con {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inv-con .top-con .top-left-con {
  width: 50%;
  height: 100px;
}

.inv-con .top-con .top-left-con a {
  font-weight: 900;
  background-color: #6c757d;
  border-color: #6c757d;
  padding: 0;
  padding: 8px 20px;
  -webkit-transform: translate(60px, 25px);
          transform: translate(60px, 25px);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.inv-con .top-con .top-left-con a:hover {
  background-color: #79828a;
  border-color: #79828a;
}

.inv-con .top-con .top-left-con a svg {
  height: 30px;
  fill: #fff;
}

.inv-con .top-con .top-left-con a span {
  vertical-align: middle;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}

.inv-con .top-con .top-right-con {
  width: 50%;
  height: 100px;
}

.inv-con .top-con .top-right-con .search-con input {
  -webkit-transform: translate(-60px, 30px);
          transform: translate(-60px, 30px);
  font-size: 20px;
  float: right;
  width: 400px;
  border-radius: 20px;
  padding-left: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.inv-con .content-con {
  width: 100%;
  height: calc(100% - 100px);
  padding: 0 50px;
}

.inv-con .content-con .tbl-con {
  background-color: #fff;
  width: calc(100% - 20px);
  height: calc(100% - 40px);
  -webkit-transform: translate(0, 10px);
          transform: translate(0, 10px);
  padding-top: 10px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  margin-left: 10px;
}

.inv-con .content-con .tbl-con table {
  width: 100%;
  height: 100%;
}

.inv-con .content-con .tbl-con table thead {
  table-layout: fixed;
  display: table;
  width: 100%;
  border-bottom: 1px solid #cdd0df;
}

.inv-con .content-con .tbl-con table thead tr th {
  text-align: center;
  width: 200px;
  font-size: 22px;
  padding: 10px 0;
}

.inv-con .content-con .tbl-con table thead tr th:nth-child(2) {
  width: calc(100% - 800px);
}

.inv-con .content-con .tbl-con table tbody {
  overflow-y: auto;
  display: block;
  height: calc(100% - 100px);
  width: 100%;
}

.inv-con .content-con .tbl-con table tbody tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.inv-con .content-con .tbl-con table tbody tr td {
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  width: 200px;
}

.inv-con .content-con .tbl-con table tbody tr td:nth-child(2) {
  text-align: left;
  width: calc(100% - 800px);
}

.inv-con .content-con .tbl-con table tbody tr td button {
  float: right;
  background-color: transparent;
  border: none;
}

.inv-con .content-con .tbl-con table tbody tr td button:hover svg {
  fill: #2b2b2b;
}

.inv-con .content-con .tbl-con table tbody tr:nth-child(odd) {
  background-color: #eaedfc;
}

.inv-con .content-con .tbl-con table tbody::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
/*# sourceMappingURL=styles.css.map */