*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    height: 100vh;
    width: 100vw;
}

@import 'login.scss';
@import './cashier/home.scss';
@import './cashier/inventory.scss';
@import './admin/home.scss';
@import './admin/nav.scss';